BODY {
	background-color: #FFFBEB;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10pt;
}

TABLE {
	font-size: 9px;
}
A { 
	color: #000000; text-decoration: none;
}

A:link { 
	color: #000000; text-decoration: none;
}

A:hover { 
	color: #000000; text-decoration: underline;
}

.font-small
{
	font-size: 9px;
}

.font-normal
{
	font-size: 10pt;
}

TD.navi-top-left {
	border-bottom: 3px solid #FFCC00;  
}

TD.navi-top-right {
	border-bottom: 3px solid #FFE57B; 
}

TD.navi-left-on {
	background-color: #FFD118;
	border-left: 1px solid #FFCC00; 
	border-right: 1px solid #FFCC00; 			
	border-top: 1px solid #FFCC00;
}
TD.navi-left-off {
	background-color: #FFE57B;
	border-left: 1px solid #FFCC00; 
	border-right: 1px solid #FFCC00; 				
	border-top: 1px solid #FFCC00;
}

TD.navi-menu-on {
	text-decoration: none;
	display: block;
	background-color: #FFD118;
	border-right: 1px solid #FFCC00;
	border-top: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 25px;
	padding-bottom: 2px;
	padding-left: 5px;
}

TD.navi-menu-off A {
	text-decoration: none;
	display: block;
	background-color: #FFFFFF;
	border-right: 1px solid #FFCC00;
	border-top: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 25px;
	padding-bottom: 2px;
	padding-left: 5px;
}

TD.navi-menu-off A:link {
	text-decoration: none;
	display: block;
	background-color: #FFFFFF;
	border-top: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 25px;
	padding-bottom: 2px;
	padding-left: 5px;
}

TD.navi-menu-off A:hover {
	text-decoration: underline;
	display: block;
	background-color: #FFE57B; 
	border-top: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 25px;
	padding-bottom: 2px;
	padding-left: 5px;
}

TD.navi-menu-off A:visited {
	display: block;
	background-color: #FFFFFF;
	border-top: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
}

TD.navi-sub-left {
	height: 18px;
	border-right: 6px solid #FFDF5E;
}

TD.navi-sub-off {
	height: 18px;
	border-top: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
}

TD.navi-sub-on A {
	height: 18px;
	border-top: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
}

TD.navi-sub-on A:link {
	height: 18px;
	border-top: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
	}

TD.navi-sub-on A:hover {
	height: 18px;
	background-color: #FFE57B;
	border-top: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
}

TD.navi-sub-on A:visited {
	height: 18px;
	border-top: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
}

TD.navi-bottom-left {
	height: 3px;
	border-top: 3px solid #FFCC00;  
}

TD.navi-bottom-right {
	background-color: #FFF2BD;
	border-top: 3px solid #FFE57B;
	border-left: 1px solid #FFE57B; 
	border-right: 1px solid #FFE57B; 
	border-bottom: 1px solid #FFE57B;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
}

.navi-user {
	background-color: #FFE57B; 
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
}

INPUT.text {
	font-size: 10px;
	background-color: #00000;
	border-top: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	border-bottom: 1px solid #FFCC00;
	border-left: 1px solid #FFCC00;
}
INPUT.button {
	font-size: 9px;
	background-color: #FFFFFF;
	border-top: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	border-bottom: 1px solid #FFCC00;
	border-left: 1px solid #FFCC00;
}
TD.content {
	border-top: 1px solid #FFE57B; 
	border-left: 1px solid #FFE57B; 
	border-right: 1px solid #FFE57B; 
	border-bottom: 1px solid #FFE57B; 
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
}

TD.info-middle {
	border-left: 1px solid #FFE57B; 
	border-right: 1px solid #FFE57B;
	padding-bottom: 2px;
}

TD.info-bottom {
	border-left: 1px solid #FFE57B; 
	border-right: 1px solid #FFE57B;
	border-bottom: 1px solid #FFE57B;
}

TABLE.news
{
	font-size: 10pt;
	line-height: 110%;
	background-color: #FFFFFF;
	border-top: 1px solid #FFF2BD; 
	border-left: 1px solid #FFF2BD; 
	border-right: 1px solid #FFF2BD; 
	border-bottom: 1px solid #FFF2BD; 
	padding-top: 4px;
	padding-bottom: 15px;

}

.news .news-picture {
	border-top: 1px solid #FFF2BD; 
	border-left: 1px solid #FFF2BD; 
	border-right: 1px solid #FFF2BD; 
	border-bottom: 1px solid #FFF2BD; 
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
}

TABLE.font-small
{
	font-size: 9px;
}

TD.weekend {
	text-align: center;
	background-color: #FFE57B;
}

TD.weekday {
	text-align: center;
}

TD.today {
	text-align: center;
	background-color: #FFCC00;
}


.highlight {
	color: #000000;
	background-color: #FFE57B; 
}

.news-comments {
	font-size: 9px;
	align: right;
	background-color: #FFE57B; 
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 10px;
}

.textarea {
	overflow: auto;
	border-top: 1px solid #FFF2BD; 
	border-left: 1px solid #FFF2BD; 
	border-right: 1px solid #FFF2BD; 
	border-bottom: 1px solid #FFF2BD; 
}